.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
}

.planetCard {
    width: 120px;
    height: 120px;
    border: 2px dotted #00ffff;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.planetCard:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px #00ffff;
}

.selected {
    border-color: greenyellow;
}

.planetImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.info {
    text-align: center;
    margin-top: 0.5rem;
}

.shipStack {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
}

.shipContainer {
    transition: transform 0.2s;
}

.shipImage {
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
}

.shipSelected {
    outline: 4px solid greenyellow;
}