.navbar {
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted #00ffff;
}


.navbar button {
    background-color: transparent;
    border: 2px solid #00ffff;
    color: #00ffff;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-family: 'Orbitron', sans-serif;
}



.navbar button:hover {
    background-color: #00ffff;
    color: black;
}

.navItem:hover {
    background-color: #16213e;
}