body {

    background-image: url('https://wallpaperaccess.com/full/39608.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: lightskyblue;
    font-family: 'Orbitron', sans-serif;

}